<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352829923485-cnaslrron11n319s57brd76ci8isrlpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352829923485-cnaslrron11n319s57brd76ci8isrlpe</string>
	<key>API_KEY</key>
	<string>AIzaSyA1f2EPKdKqc_gypudH_aBuWdU8gGcp8Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>352829923485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaime.uribe.co.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platzi-tweets-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>platzi-tweets-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352829923485:ios:e6e0523adaa672cd3ef474</string>
</dict>
</plist>